<header
    class="w-screen h-24 flex justify-between items-center backdrop-blur-[3px] px-20"
>
    <h2 class="text-3xl font-extrabold text-white">AGRI-WASTE</h2>
    <ul class="flex space-x-32 text-white text-2xl">
        <li class="hover:scale-110">
            <a href="/" aria-label="go to home page" class="">Home</a>
        </li>
        <li class="hover:scale-105">
            <a href="/usecases" aria-label="usecases page">Use Cases</a>
        </li>
        <li class="hover:scale-105">
            <a href="/order" aria-label="order page">Order</a>
        </li>
        <li class="hover:scale-105">
            <a href="/contact" aria-label="contact us page">Contact</a>
        </li>
    </ul>
</header>
